@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    background: url(../img/background.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h3{
    color: white;
    font-size: large;
    font-family: 'Pacifico', cursive;
    margin: 0% 8%;
}

p{
    text-align: center;
    color: white;
    font-size: large;
    font-family: 'Pacifico', cursive;
}

footer{
    text-align: center;
    padding: 13%;
}

.content{
    margin: 6% 17%;
}

.contacts{
    float: right;
    margin: -7% -7%;
}

.palm{
    margin: -17% 19%;
}

.pictures{
    float: left;
    margin: 1% 6%;
    
}

.pictures > a{
    border: 5px double black;
    display: block;
}

